.logo-position {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  background-color: #fef8f8;
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: extra-expanded;
  font-weight: 100;
  margin-bottom: 10px;
}
.justify-content-center li a {
  color: black;
}
.justify-content-center > li > a:hover {
  background-color: rgb(255, 204, 204, 0.5);
  color: indianred;
}

.h2-heading-1 {
  font-size: 40px;
  margin-left: 40px;
  margin-top: 30px;
}
.h2-heading-2 {
  font-size: 40px;
  margin-top: 30px;
}
.h2-heading-3 {
  font-size: 40px;
  margin-top: 30px;
}
.carousel-item {
  float: inline-start;
}
.hoka-image {
  padding: 20px;
  margin-top: 15px;
}

a {
  color: palevioletred;
}

.running-every-size {
  padding: 20px;
  margin-top: 15px;
}

.running-accessories {
  padding: 20px;
  margin-top: 15px;
}
.col {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: rgb(255, 204, 204, 0.5);
  margin-left: 200px;
  border-color: rgb(255, 204, 204, 0.5);
  border-width: 10px;
}
.btn-primary {
  background-color: black;
  border-color: black;
}
.btn:hover {
  background-color: indianred;
  border-color: indianred;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: indianred;
  color: white;
}
.fa-twitter {
  background: palevioletred;
  color: white;
}

.fa-instagram {
  background: purple;
  color: white;
}
